@font-face {
font-family: FontAwesome;
src:
    local('FontAwesome'),
    url('../font/fontawesome-webfont.ttf');
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
    line-height: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

footer {
	height: 25px;
	min-height: 25px;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
	border: none;
	overflow: hidden;
}

/* Nav Bar */
nav {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

nav ul {
    list-style: none;
    font-size: 14px;
    padding-left: 0;
    margin-top: 0;
    color: #CACACA;
}

nav ul .active {
    color: #C8E1FF;
}

#channels {
    flex: 9 1 auto;
	width: 120px;
	min-width: 110px;
    padding: 10px 10px 10px 14px;
    background-color: #F9F8F8;
}

nav .footer {
    font-family: FontAwesome;
    display: flex;
    width: 116px;
    min-width: 110px;
    justify-content: space-between;
    padding: 0 14px;
    height: 28px;
    border-top: 1px solid #DEDEDE;
}

nav .footer div {
    align-self: center;
    color: #969696;
}

nav ul em {
    color: #676767;
    font-weight: 400;
    font-style: normal;
}

nav ul .active em {
    color: #2D7DDC;
    font-weight: 400;
    font-style: normal;
}

nav ul li .unread {
    line-height: 14px;
    position: relative;
    float:right;
    background-color: #CACACA;
    color: #FFF;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    padding: 0px 3px;
    height: 14px;
    border-radius: 7px;
    text-shadow: 0 1px#888;
}

nav ul li .highlight {
    background-color: #CB0012;
}
/* User List */
aside {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    min-width: 70px;
}
aside .users {
    overflow-x: hidden;
	overflow-y: auto;
    padding: 10px;
    flex: auto;
}

aside .footer {
    font-family: FontAwesome;
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    min-height: 28px;
    border-top: 1px solid #DEDEDE;
    background-color: #FFF;
}

aside .footer div {
    align-self:center;
    color: #969696;
}

aside ul {
    color: #CACACA;
    list-style: none;
    padding-left: 0;
    margin-top: 0;

}

aside ul em {
    color: #676767;
    font-style: normal;
}

/*          Chat Panel          */
article {
    display: flex;
    flex: 1 0;
    flex-direction: column;
}

.chanheader {
    flex: 0 0 auto;
    padding: 10px 10px 0 0;
    margin-left: 10px;
    color: #BBB;
    font-size: 11px;
    font-weight: 400;
    border-bottom: 1px solid #DEDEDE;
    min-height: 21px;
    overflow: hidden;
}
article #lines {
    display: table-cell;
	border: none;
	flex: auto;
    padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
    vertical-align: bottom;
}

article .footer {
    min-height: 28px;
    border-top: 1px solid #DEDEDE;
    display: flex;
    padding: 0 10px;
}

article .footer div {
    align-self: center;
}

.line {
    display: flex;
    justify-content: space-between;
}
.nickname {
    text-align: right;
    color: #BBB;
    flex: 0 0 150px;
}
.message {
    color: #262626;
    flex: 1 1 auto;
}

#input {
    flex: 1 0 auto;
    border: none;
    padding: 0 0 4px 0;
    outline: none;
}

.timestamp {
    flex: 0 0 auto;
    font-size: 9px;
    color: #BBB;
    padding-left: 4px;
}

.chatstatus {
    color: #DBDBDB;
    flex: 1 1 auto;
}
.chatstatus em {
    color: #BBBBBB;
}

.dot-square, .dot-circle, .dot-hcircle, dot-3 {
    flex: 0 0 auto;
}
.dot-square {
    width: 4px;
    height: 10px;
    margin: 4px 8px;
}

.dot-circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 6px;
}

.dot-hcircle {
    background-color: #FFF !important;
    border: 2px solid #09F;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: 6px;
}

.dot-3 {
    padding: 0 7px;
    width: 6px;
    height: 16px;
}

.dot-3 div {
    width: 4px;
    height: 4px;
    background-color: #3C0;
    margin: 1px;
    border-radius: 2px;
}

.dot-red {
    background-color: #FA0;
}

.dot-green {
    background-color: #3C0;
}

.dot-blue {
    background-color: #09F;
}

.splitter {
	border-left: 1px solid #FFF;
	width: 4px;
	min-width: 4px;
	cursor: col-resize;
}

header {
    text-decoration: none;
    text-transform:uppercase;
    color: #BBB;
    font-size: 10px;
    font-weight: 400;
}

